body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 40px;
}
h2{
    font-size: 40px;
    color: orangered;
}
section{
    display: flex;
}
.half-width{
    width: 30%;
    padding: 10%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(177, 77, 173);
    padding: 10px 40px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
}
.orange-color{
    color: orangered;
}
.flexiable-part{
    display:flex;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: auto;
    border-radius: 10px solid;
}